<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
    img.make-it-fit {
      max-width: 99%;
    }
    </style>

    <title>Wilson's Portfolio</title>
  </head>
  <body>

    <div class="jumbotron">
      <h1 class="display-4">Web Portfolio</h1>
      <p class="lead">List of web applications created by Wilson and co. *</p>
    </div>

    <div class="list-group">
      <a href="{{ url_for('js_quiz') }}" class="list-group-item list-group-item-action">JS_Quiz</a>

      <a href="{{ url_for('quiz') }}" class="list-group-item list-group-item-action">Quiz</a>

      <a href="{{ url_for('timer') }}" class="list-group-item list-group-item-action">Timer</a>

      <a href="{{ url_for('bricks') }}" class="list-group-item list-group-item-action">bricks game</a>

      <a href="{{ url_for('memory') }}" class="list-group-item list-group-item-action">Memory Game</a>

      <a href="{{ url_for('ghibli') }}" class="list-group-item list-group-item-action">Ghibli Movies</a>

      <a href="{{ url_for('sheep') }}" class="list-group-item list-group-item-action">Questions in Containers</a>

      <a href="{{ url_for('arith') }}" class="list-group-item list-group-item-action">Arithmetic Game</a>

      <a href="{{ url_for('cmc') }}" class="list-group-item list-group-item-action">CoinMarketCap Flat API</a>

      <a href="{{ url_for('questionlist') }}" class="list-group-item list-group-item-action">Exam Question API</a>

      <a href="{{ url_for('chuck') }}" class="list-group-item list-group-item-action">Random Chuck Joke</a>
      
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
