<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Sheep Quiz App</title>
  
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sheep.css') }}">

</head>

<body>

  <div id="root"></div>

  <script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'js/sheep2.js') }}" ></script>
</body>

</html>